[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
requests = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
