/*  This CSS file contains additions Bootstrap elements */ 
/*    that are used to adjust item positions and such   */
 
* {
    font-size: 16px;
  }
  
  body {
    background-color: #f8f8f8
  }
  
  /* Logged-In nav */
  .navbar-nav {
    margin-right: auto;
  }
  
  .navbar-brand {
    font-size: 2em;
  }
  
  .navbar-search {
    margin-left: auto;
  }
  .navbar-search button {
    margin-left: 2%;
  }
  
  
  /* Logged Out Nav */
  .lg-nav-items {
      margin-left: auto;
  }
  
  /* Register and Login forms */
  .forms {
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    border: hidden;
    border-radius: 3%;
    background-color: #dddddd;
    text-align: center;
  }
  
  .forms input {
    margin-top: 2%
  }
  
  .forms h3 {
    text-align: center;
  }
  
  #form-btn {
    width: 100%;
  }
  
  @media (max-width: 1024px) {
    .forms {
      width: 50%
    }
  
  }
  
  .copyright {
    text-align: center;
    margin-top: 2%;
  }

