<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheet, Icon, and Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="/static/assests/books-favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/static/css/main.css">
    <title>{% block title %}{% endblock %} | MyLib</title>
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">MyLib</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% if session.user_id %}
            <!-- Logged in NavBar -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav">
                  <a href="#" class="nav-link">Catalog</a>
                  <a href="#" class="nav-link">Account</a>
                  <a href="/logout" class="nav-link">Logout</a>
                </div>
                <form class="navbar-search d-flex">
                  <input type="search" class="form-control" placeholder="Search For A Title">
                  <button class="btn btn-light">Search</button>
                </form>
              </div>
            {% else %}
            <!-- Logged out NavBar -->
            <div class="collapse navbar-collapse lg-nav-items" id="navbarToggler">
                <div class="navbar-nav">
                    <a href="/login" class="nav-link">Login</a>
                    <a href="/register" class="nav-link">Sign-Up</a>
                </div>
            </div>           
            {% endif %}
        </div>
    </nav>


    {% if get_flashed_messages() %}
    <div class="alert alert-danger" id="error-banner" role="alert" style="text-align: center;">
        {{ get_flashed_messages() | join(" ") }}
      </div>
    {% endif %}
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>

    {% if session.user_id %}
    <footer class="bg-dark">
      <p>James Spears © 2021</p>
    </footer>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</body>
</html>