{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container forms">
    <form action="/register" method="POST">
      <h3>Sign-Up</h3>
      <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="email" placeholder="Email" name="email">
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="password" placeholder="Password" name="password">
        <label for="email">Password</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="confirmation" placeholder="Password (again)" name="confirmation">
        <label for="email">Password (again)</label>
      </div>
      <input type="submit" value="Sign-Up" class="btn btn-dark" id="form-btn">
    </form>
  </div>
{% endblock %}