{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block main %}
    <h3>Search: {{ query }}</h3>
    <div class="search-container">
        <div class="search">
            <div class="search-results">
              <div class="results-found">
                <p>{{ resultsFound }}</p>
              </div>
              {% for volume in results %}
              <table class="">
                  <tr data-record-id="{{ volume.volumeId }}">
                    <td class="coverImg">
                      {%  if volume.cover != None %}
                        <img src="{{ volume.cover }}" alt="Cover Image">
                      {% else %}
                          <div class="blank-cover">
                              <p>{{ volume.title }}</p>
                          </div>
                      {% endif %}
                    <td class="quickInfo">
                      <p class="title">{{ volume.title }}</p>
                      {% if volume.authors == None %} 
                        <p class="authors">{{ volume.authors }}</p>
                      {% else %}
                        <p class="authors">{{  " ".join(volume.authors) }}</p>
                      {% endif %}
                    </td>
                  </tr>
              </table>
              {% endfor %}
            </div>
            <div class="detailed-view">
              <div class="record-cover">
                <img id="cover" src="" alt="">
              </div>
              <div class="record-details">
                  <p id='title'></p>
                  <p id='authors'></p>
                  <p id='publisher'></p>
                  <p id='publicationDate'></p>
                  <p id='ISBN'></p>
              </div>
              <div class="record-descripton">
                <p style="display: none;" id="description-label">Description:</p>
                <p><i id="description"></i></p>
              </div>
              <form action="/edit" method="post" id="add-btn" class="add-btn" style="display: none;">
                <input type="hidden" name="volumeID" value="volumeID">
                <input type="submit" value="Add to your catalog" class="btn btn-dark">
              </form>
            </div>
          </div>
    </div>
    <script src="/static/js/search.js"></script>
{% endblock %}