{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block main %}
    <H1>Search: {{ query }}</H1>
    <div class="search-container">
        <div class="search">
            <div class="search-results">
              <div class="results-found">
                <p>{{ resultsFound }}</p>
              </div>
              {% for volume in results %}
              <table class="">
                  <tr data-record-id="{{ volume.volumeId }}">
                    <td class="coverImg">
                      <img src="{{ volume.cover }}" alt="Cover Image">
                    </td>
                    <td class="quickInfo">
                      <p class="title">{{ volume.title }}</p>
                      {% if volume.authors == None %} 
                        <p class="authors">{{ volume.authors }}</p>
                      {% else %}
                        <p class="authors">{{  " ".join(volume.authors) }}</p>
                      {% endif %}
                      <p class="date">{{ volume.publicationDate }}</p>
                    </td>
                  </tr>
              </table>
              {% endfor %}
            </div>
            <div class="detailed-view" style="display: none;">
              <div class="record-cover">
                <img id="cover" src="" alt="">
              </div>
              <div class="record-details">
                  <p id='title'>Title:</p>
                  <p id='authors'>Author(s):</p>
                  <p id='publisher'>Publisher:</p>
                  <p id='publicationDate'>Publication Date:</p>
                  <p id='ISBN'>ISBN:</p>
              </div>
              <div class="record-descripton">
                <p>Description:</p>
                <p><i id="description"></i></p>
              </div>
              <form action="return False" class="add-btn">
                <input type="hidden" name="volumeID" value="volumeID">
                <input type="submit" value="Add to your catalog" class="btn btn-dark">
              </form>
            </div>
          </div>
    </div>
    <script src="/static/js/search.js"></script>
{% endblock %}