{% extends "layout.html" %}

{% block title %}
    Catalog
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
    <h2 id="welcome">Hello {{ name }}!</h2>

    {% if catalog | length == 0 %}
        <div id="catalog-messege">
            <h2>Oops! Looks like there's nothing here!</h2>
            <p>Search for a title to add to your catalog</p>
        </div>
    {% else %}
        <table class="table table-striped" id="catalogTable">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Primary Author</th>
                <th>Format</th>
                <th></th>
            </tr>
            {% for record in catalog %}
            <tr>
                <td><img src="{{ record.cover }}" alt="Book Cover" class="catalogCover"></td>
                <td><a href="/details?id={{ record.id }}">{{ record.title }}</a></td>
                <td>{{ record.authorName }}</td>
                <td>{{ record.format }}</td>
                <td>
                    <form action="/" method="post">
                        <input type="hidden" name="titleId" value="{{ record.id }}">
                        <button type="submit" class="btn btn-dark">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
    {% endif %}
    </table>
{% endblock %}
