<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheet, Icon, and Fonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="/static/assests/books-favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@400;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/static/css/main.css">
    <title>{% block title %}{% endblock %} | MyLib</title>
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">MyLib</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% if current_user.is_authenticated %}
            <!-- Logged in NavBar -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav">
                  <a href="/account" class="nav-link">Account</a>
                  <a href="/logout" class="nav-link">Logout</a>
                  <a href="/about" class="nav-link">About</a>
                </div>
                <form class="navbar-search d-flex" action="/search" method="get">
                  <input type="search" class="form-control" name="search" placeholder="Search For A Title or Author" autocomplete="off">
                  <button class="btn btn-light">Search</button>
                </form>
              </div>
            {% else %}
            <!-- Logged out NavBar -->
            <div class="collapse navbar-collapse lg-nav-items" id="navbarToggler">
                <div class="navbar-nav">
                    <a href="/login" class="nav-link">Login</a>
                    <a href="/register" class="nav-link">Sign-Up</a>
                    <a href="/about" class="nav-link">About</a>
                </div>
            </div>           
            {% endif %}
        </div>
    </nav>


    {% if get_flashed_messages() %}
      <div class="alert alert-dark alert-dismissible fade show" id="error-banner" role="alert" style="text-align: center;">
        {{ get_flashed_messages() | join(" ") }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
      </div>
    {% endif %}
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>