{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/login-register.css">
{% endblock %}

{% block main %}
<div class="container forms">
    <form class="form" action="/login" method="post">
      <h3>Please Log-In</h3>
      <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" autocomplete="off">
        <label for="username">Username</label>
      </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password" name="password" autocomplete="off">
          <label for="email">Password</label>
        </div>
        <input type="submit" value="Log-In" class="btn btn-dark" id="form-btn">
    </form>
    <p id="register-link">Or sign-up for an account <a href="/register">here</a>.</p>
  </div>
  <div class="copyright">
    <p>James Spears © 2021</p>
  </div>
{% endblock %}