{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block main %}
    <div class="search-box">
      <form class="navbar-search d-flex" action="/search" method="get">
        <input type="search" class="form-control" name="search" placeholder="Search For A Title" value="{{ query }}" autocomplete="off">
        <button class="btn btn-dark">Search</button>
      </form>
    </div>
      <div class="search">
          <div class="search-results">
            {% for volume in results %}
            <table class="">
                <tr data-record-id="{{ volume.volumeId }}">
                  <td class="coverImg">
                    {%  if volume.cover != None %}
                      <img src="{{ volume.cover }}" alt="Cover Image">
                    {% else %}
                        <div class="blank-cover">
                            <p>{{ volume.title }}</p>
                        </div>
                    {% endif %}
                  <td class="quickInfo">
                    <p class="title">{{ volume.title }}</p>
                    {% if volume.authors == None %} 
                      <p class="authors">{{ volume.authors }}</p>
                    {% else %}
                      <p class="authors">{{  ", ".join(volume.authors) }}</p>
                    {% endif %}
                  </td>
                </tr>
            </table>
            {% endfor %}
          </div>

          <div class="detailed-view">
            <div id="tip">
              <p id="tip-message"><b>TIP: </b>Click on a book to see more about it</p>
            </div>
            <div class="record-cover">
              <img id="cover" src="" alt="">
            </div>
            <div class="record-details">
                <p id='title'></p>
                <p id="subtitle"></p>
                <p id='authors'></p>
                <p id='publisher'></p>
                <p id='publicationDate'></p>
                <p id='ISBN'></p>
            </div>
            <!-- 
              <div class="record-descripton">
                <p style="display: none;" id="description-label">Description:</p>
                <p><i id="description"></i></p>
              </div>
            -->
            <div class="form-container">
              <form action="/add" method="post" id="add-btn" class="add-btn" style="display: none;">
                <div class="form-group">
                  <input id="add-to-catalog" type="hidden" name="volumeId" value="">
                </div>
                <div class="form-group selection">
                  <select name="format" id="format">
                      <option value="hardback" selected>Hardback</option>
                      <option value="paperback">Paperback</option>
                      <option value="ebook">E-Book</option>
                      <option value="audiobook">Audiobook</option>
                      <option value="graphic novel">Graphic Novel</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="submit" value="Add To Your Catalog" class="btn btn-dark" id="add-btn"">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="information-notice">
          <p>Information provided through the Google Books API.</p>
          <p>Check it out <a href="https://developers.google.com/books/">here</a>.</p>
        </div>
    <script src="/static/js/search.js"></script>
{% endblock %}
