{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block main %}
<!--

  <div class="search-box">
    <form class="navbar-search d-flex" id="search-box-2"action="/search" method="get">
      <input type="search" class="form-control" name="search" placeholder="Search For A Title" value="{{ query }}" autocomplete="off">
      <input type="hidden" name="page_number" value="0">
      <button class="btn btn-dark">Search</button>
    </form>
-->
    </div>
      <div class="search">
          <div class="search-results">
            <h3>Search Results:</h3>
            <p>Page {{ page_number }}</p>
            <hr>
            <table class="">
            {% for volume in results %}
                <tr data-record-id="{{ volume.volumeId }}">
                  <td class="coverImg">
                    {%  if volume.cover != None %}
                      <img src="{{ volume.cover }}" alt="Cover Image">
                    {% else %}
                        <div class="blank-cover">
                            <p>{{ volume.title }}</p>
                        </div>
                    {% endif %}
                  <td class="quickInfo">
                    <p class="title"><a href="/volume?volumeId={{ volume.volumeId }}">{{ volume.title }}</a></p>
                    {% if volume.authors == None %} 
                      <p class="authors">by {{ volume.authors }}</p>
                    {% else %}
                      <p class="authors">by {{  ", ".join(volume.authors) }}</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
            </table>
          </div>

        <div id="pagination_clicker">
          <ul>
            <li>
              <a href="/search?search={{ query }}&page_number=1">
                <div class="page_indicator">1</div>
              </a> 
            </li>
            <li>
              <a href="/search?search={{ query }}&page_number=2">
                <div class="page_indicator">2</div>
              </a> 
            </li>
            <li>
              <a href="/search?search={{ query }}&page_number=3">
                <div class="page_indicator">3</div>
              </a> 
              <li>
                <a href="/search?search={{ query }}&page_number=4">
                  <div class="page_indicator">4</div>
                </a> 
              </li>
              <li>
                <a href="/search?search={{ query }}&page_number=5">
                  <div class="page_indicator">5</div>
                </a> 
              </li>
          </ul>
        </div>
{% endblock %}
