#wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

#about-content {
    width: 70%;
}

#link-tree {
    margin-left: auto;
    margin-bottom: auto;
    background-color: #dddddd;
    padding: 2%;
    border: none;
    border-radius: 5%;
}

.links {
    margin-top: 3%;
}

#title-logo {
    font-family: 'Fredoka One', sans-serif;
}

#about-content a {
    text-decoration: none;
}

#about-content a:hover {
    text-decoration: underline;
}

.links a {
    color: #000000;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    /*font-weight: bold;*/
}

/* Mobile screens */
@media (max-width: 767px) {
    #wrapper {
        display: flex;
        flex-direction: column;
    }

    #about-content {
        width: 100%;
    }

    #link-tree {
        width: 100%;
        border-radius: 0%;
    }
  }