#welcome {
    margin-top: 3%;
}

.field {
    margin-top: 1%;
}

.edit-forms {
    width: 33%;
}

.edit-forms div, .btn {
    margin-top: 1%;
}

.edit-btn {
    background-color: transparent;
    border: none;
}

#password-form {
    display: flex;
    flex-direction: row;
}

#form-inputs div, input {
    margin-top: 1%;
}

.password-reqs {
    margin-left: 4%;
    padding: 2%;
    background-color: #dddddd;
    border: none;
    border-radius: 5%;
}

#delete-form {
    margin-bottom: 5%;
}

#delete-heading {
    display: flex;
    flex-direction: row;
}
#delete-heading button {
    margin-left: 1%;
}

/* Mobile screens */
@media (max-width: 767px) {
    .edit-forms {
        width: auto;
    }

    #password-form {
        display: flex;
        flex-direction: column;
    }

    .password-reqs {
        margin-left: 0;
        margin-top: 1%;
    }
  }