#welcome {
    margin-top: 3%;
}

.field {
    margin-top: 1%;
}

.edit-forms {
    width: 35%;
}

.edit-forms div, .btn {
    margin-top: 1%;
}

.edit-btn {
    background-color: transparent;
    border: none;
}

#password-form {
    display: flex;
    flex-direction: row;
}

#form-inputs div, input {
    margin-top: 1%;
}

.password-reqs {
    margin-left: 4%;
    padding: 2%;
    background-color: #dddddd;
    border: none;
    border-radius: 5%;
}

