#catalogTable {
    margin-top: 2%;
    margin: auto;
    width: 65%;
}

#catalog-messege {
    text-align: center;
    margin-top: 25vh;
}

#welcome {
    text-align: center;
    margin-top: 1%;
}

.catalogCover {
    width: auto;
    max-height: 10vh;
}

/* Mobile screens */
@media (max-width: 767px) {
    #catalogTable {
        overflow-x: hidden;
    }
  }