#catalogTable {
    margin-top: 2%;
    margin: auto;
    width: 75%;
}

#catalog-messege {
    text-align: center;
    margin-top: 25vh;
}

#welcome {
    text-align: center;
    margin-top: 1%;
}

#tip-message {
    text-align: center;
}

.catalogCover {
    width: auto;
    max-height: 12vh;
}

#title {
    text-decoration: none;
    color: black;
}

#title:hover {
    text-decoration: underline;
}

/* Mobile screens */
@media (max-width: 767px) {
    #catalogTable {
        overflow-x: hidden;
    }
  }