/*  This CSS file contains additions Bootstrap elements */ 
/*  that are used to adjust item positions and such.    */
/*  Elements styled in this file are site global        */
/*  elements.                                           */ 

* {
    font-size: 16px;
  }
  
  body {
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
  }

  .navbar-brand {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2.5em;
  }
  
  /* Logged-In nav */
  .navbar-nav {
    margin-right: auto;
  }
  
  .navbar-search {
    margin-left: auto;
  }
  .navbar-search button {
    margin-left: 2%;
  }
  
  
  /* Logged Out Nav */
  .lg-nav-items {
      margin-left: auto;
  }

  /* Error alert */
  #error-banner {
    width: 40%;
    margin: auto;
    margin-top: 1%;
  }

  .close {
    border: none;
    background-color: transparent;
    float: right;
    color: #777777;
    transition-duration: 0.4s
  }

  .close:hover {
    background-color: #555555;
    color: #aaaaaa;
    border-radius: 5%;
  }
 
