/* Search box */
.search-box {
  width: 50%;
  margin: auto;
  margin-top: 1%;
  padding: 1%;
  border-style: none;
  background-color: #dddddd;
}


/* Search results pane */
.search {
  display: flex;
  flex-direction: row;
}

.search-results {
  max-width: 49%;
  min-width: 49%;
  height: 70vh;
  overflow-y: scroll;
  margin: 2% 2% 0% 2%;
}

table {
  width: 100%;
}
tr:hover {
  background-color: #dbdada;
}
td {
  padding: 2%;
}
.results-found {
  background-color: #dbdada;
}

.coverImg {
max-width: 25%;
min-width: 25%;
}
.coverImg img {
max-width: 100%;
height: auto;
}
.blank-cover {
max-width: 128px;
min-height: 190px;
background-color: #bbbbbb;
display: flex;
align-content: center;
justify-content: center;
} .blank-cover p {
  margin-top: 25%;
}
  
/* Detailed view pane */
.detailed-view {
  width: 49%;
  height: 70vh;
  background-color: #dddddd;
  border-style: none;
  border-radius: 1.5%;
  margin: 2%;
  padding: 2%;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 7% auto auto auto;
  grid-template-areas:  'tip tip'
                        'record-cover record-details'
                        'record-description record-description'
                        ' add-btn add-btn';
  gap: 3%;
  overflow-y: scroll;
}

.detailed-view * {
  margin: 1%;
}

#tip {
  grid-area: tip;
} #tip p {
  font-size: .9rem;
}

.record-cover {
  grid-area: record-cover;
  justify-self: center;
}

.record-cover img {
  max-width: 100%;
  height: auto;
}

.record-details {
  grid-area: record-details;

}
.record-descripton {
  grid-area: record-description;

}

.form-container {
  grid-area: add-btn;
  justify-self: center;
}

form select {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.add-btn {
  margin-bottom: 20%;
}

.information-notice {
  margin: 1% 0 1% 0;
}
.information-notice p {
  margin: 0;
  text-align: center;
}

/* Mobile screens */
@media (max-width: 767px) {
  .search {
    flex-direction: column-reverse;
  }

  .search-results {
    min-width: 98%;
    margin-right: 2%;
  }

  .detailed-view {
    width: auto;
    max-height: 34vh;
    margin-right: 2%;
  }

  .search-box {
    width: 100%;
  }

  #tip-message {
    margin-bottom: 3%;
  }
}