/* Search box */
.search-box {
  width: 50%;
  margin: auto;
  margin-top: 1%;
  padding: 1%;
  border-style: none;
  background-color: #dddddd;
}


/* Search results pane */
.search {
  display: flex;
  flex-direction: column;
}

.search-results {
  margin: 2% 2% 0% 2%;
}

table {
  width: 100%;
}
tr:hover {
  background-color: #dbdada;
}
td {
  padding: 2%;
}
.results-found {
  background-color: #dbdada;
}

.coverImg {
max-width: 25%;
min-width: 25%;
}
.coverImg img {
max-width: 100%;
height: auto;
}
.blank-cover {
max-width: 128px;
min-height: 190px;
background-color: #bbbbbb;
display: flex;
align-content: center;
justify-content: center;
} .blank-cover p {
  margin-top: 25%;
}
  
/* Page Clicker */
#pagination_clicker ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.page_indicator {
  text-align: center;
  background-color: #dddddd;
  width: 35px;
  height: 35px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 200ms ease-in-out;
}

 a {
  color: #000000;
  text-decoration: none;
}

.page_indicator:hover {
  transform: translateY(-3px);
  text-decoration: underline;
  color: #000000;
}




/* Mobile screens */
@media (max-width: 767px) {
  .search {
    flex-direction: column;
  }

  .search-results {
    min-width: 98%;
    margin-right: 2%;
    overflow-y: none;
    height: auto;
  }

  .detailed-view {
    width: auto;
    max-height: 50vh;
    margin-right: 2%;
  }

  .search-box {
    width: 100%;
  }

  #tip-message {
    margin-bottom: 3%;
  }

  .blank-cover {
    max-width: 128px;
    min-height: 115px;
  } 

  .blank-cover p {
    margin-left: 10%;
  }
}